/*----------------------------------
---------------Variables------------
------------------------------------*/
/**
 * Mixins
 * --------------------------------------------------
 */
/*
@mixin background-gradient-angle-properties($color1, $color2, $angle) {
	background: rgba($color1,1);
	background: -moz-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba($color1,1)), color-stop(100%, rgba($color2,1)));
	background: -webkit-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -o-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: -ms-linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	background: linear-gradient($angle, rgba($color1,1) 0%, rgba($color2,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2', GradientType=1 );
}
*/
/* vietnamese */
@font-face {
  font-family: 'Comfortaa-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf); }
@font-face {
  font-family: 'Comfortaa-Bold';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf); }
@font-face {
  font-family: 'Comfortaa-Light';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Comfortaa/Comfortaa-Light.ttf); }
/*----------------------------------
----------------General--------------
------------------------------------*/
h1 {
  color: #ffffff;
  font-size: 45px;
  font-family: "Comfortaa-Bold"; }

p {
  font-size: 13px; }

ol {
  padding-left: 20px;
  margin: 35px 0 0; }

.btn {
  margin: 40px 0;
  position: relative; }
  .btn:before {
    content: "";
    position: absolute;
    background: url("../img/img_arrow.png");
    width: 100px;
    height: 62px;
    top: -25px;
    right: -115px; }

/*----------------------------------
----------------Header--------------
------------------------------------*/
.header {
  position: relative;
  background: #134070;
  background: -moz-linear-gradient(-45deg, #134070 0%, #064f7d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #134070), color-stop(100%, #064f7d));
  background: -webkit-linear-gradient(-45deg, #134070 0%, #064f7d 100%);
  background: -o-linear-gradient(-45deg, #134070 0%, #064f7d 100%);
  background: -ms-linear-gradient(-45deg, #134070 0%, #064f7d 100%);
  background: linear-gradient(135deg, #134070 0%, #064f7d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#134070', endColorstr='#064f7d', GradientType=1 ); }
  .header:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #ffffff09;
    bottom: 0;
    left: 0; }
  .header .cpe-logo {
    margin: 0 0 50px; }
  .header .gitei-phone {
    width: 22vw;
    min-width: 280px;
    margin: auto; }
  .header .gp-logo {
    width: 150px;
    margin-bottom: 15px; }
  .header .img-userdata {
    width: 260px; }
  .header .intro-content {
    color: #ffffff;
    font-family: "Helvetica";
    font-size: 18px;
    line-height: 170%; }
  .header h1 {
    margin: 14px 0px 9px;
    padding-bottom: 9px;
    line-height: 80%; }
    .header h1 span {
      font-size: 18px;
      display: block;
      font-family: "Comfortaa-Light";
      margin-top: 5px; }
  .header .right-section {
    display: flex;
    align-items: center;
    justify-content: center; }

/*----------------------------------
----------------Footer--------------
------------------------------------*/
.footer .logo-container {
  display: flex;
  align-items: center;
  padding: 2vw 3vw 1vw; }
  .footer .logo-container .vertical-separator {
    border-left: 1px solid gray;
    height: 110px;
    margin: 0 1.5vw; }
.footer .extra-logos {
  text-align: center;
  padding: 1vw 3vw 2vw; }

/*----------------------------------
--------------Media Query-----------
------------------------------------*/
@media screen and (min-width: 992px) {
  .header {
    display: flex;
    align-items: stretch; }
    .header .right-section {
      height: 300px; } }
@media screen and (min-width: 768px) {
  .header {
    padding: 2.5vw 5vw; }
    .header:before {
      border-width: 75vh 0 0 40vw; }
    .header .gitei-phone {
      margin-bottom: -200px;
      float: right; }

  .footer .logo-container {
    justify-content: flex-start; }
    .footer .logo-container .logo {
      max-width: 200px; }
  .footer .extra-logos {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .extra-logos img {
      height: 7vw;
      max-height: 65px; } }
@media screen and (max-width: 767px) {
  .header:before {
    border-width: 80vh 0 0 60vw; }
  .header .cpe-logo {
    max-width: 300px;
    margin: 45px auto; }
  .header .intro-content {
    margin-top: 10px;
    padding: 0px 12px 1px 12px; }
    .header .intro-content h1 {
      padding: 5px 0px;
      margin-top: 5px; }

  .footer .logo-container {
    justify-content: center; }
    .footer .logo-container .logo {
      width: 250px; }
  .footer .extra-logos img {
    height: 12vw;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */
