/*----------------------------------
----------------Footer--------------
------------------------------------*/

.footer {
    .logo-container {
        display: flex;
        align-items: center;
        padding: 2vw 3vw;
        
        .vertical-separator {
            border-left: 1px solid gray;
            height: 110px;
            margin: 0 1.5vw;
        }
    }
}
