/*----------------------------------
----------------General--------------
------------------------------------*/
h1 {
    color: $header-title;
    font-size: 45px;
  	font-family: "Comfortaa-Bold";
}
p {
    font-size: 13px;
}
ol {
    padding-left: 20px;
    margin: 35px 0 0;
}
.btn {
    margin: 40px 0;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        background: url("../img/img_arrow.png");
        width: 100px;
        height: 62px;
        top: -25px;
        right: -115px;
    }
}
