/*----------------------------------
----------------General--------------
------------------------------------*/
h1 {
    color: $header-title;
    font-size: 45px;
  	font-family: "Comfortaa-Bold";
}
p {
    font-size: 13px;
}
ol {
    padding-left: 20px;
    margin-top: 35px;
}
