/*----------------------------------
----------------Header--------------
------------------------------------*/

.header {
		position: relative;
		@include background-gradient-properties-45deg(#134070, #064f7d);

		&:before {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
			border-color: transparent transparent transparent #ffffff09;
			bottom: 0;
			left: 0;
		}

    .cpe-logo {
				margin: 0 0 50px;
    }
		.gitei-phone {
				width: 430px;
				min-width: 280px;
				margin: auto;
		}
		.gp-logo {
				width: 150px;
				margin-bottom: 15px;
		}
		.img-userdata {
				width: 260px;
		}
		.step-container {
				border: 1px solid #36b4e3;
				padding: 15px;
				border-radius: 10px;
				margin: 15px 0;
		}
		.intro-content{
				color:#ffffff;
				font-family: "Helvetica";
				font-size: 18px;
				line-height: 170%;
		}
	    h1 {
					margin: 14px 0px 9px;
					padding-bottom: 9px;
					line-height: 80%;

							span {
									font-size: 18px;
									display: block;
									font-family: "Comfortaa-Light";
									margin-top: 5px;
			        }
	    }
	    .right-section {
					display: flex;
	        align-items: center;
	        justify-content: center;
	    }
}
