/*----------------------------------
---------------Variables------------
------------------------------------*/

$site-name:                        site-bienestar-laboral;
$site-slider:                      bienestar_laboral_home_slider;
$path-site:                        edu-buscandocarrera;
$images-path:                      "../img/";

 // Colors
 // -------------------------------
$main-bg:                               #eee !default;
$header-title:                          #ffffff !default;
$white-square-bg:                       #F0F5F7 !default;
$suscribe-section-bg:                   #ECEFF1 !default;
//Measures
// -------------------------------
$main-header-height:              132px;
//------ border radius----

